// movie__cont
.unspl__cont {
  background-color: var(--black);

  .unspl__img__wrap {
    line-height: 0;
    -webkit-column-count: 4; /* split it into 4 columns */
    -webkit-column-gap: 8px; /* give it a 8px gap between columns */
    -moz-column-count: 4;
    -moz-column-gap: 8px;
    column-count: 4;
    column-gap: 8px;

    .unspl__item {
      img {
        width: 100% !important;
        height: auto !important;
        margin-bottom: 8px; /* to match column gap */
      }
    }
  }
}

//애니메이션
// .port__inner {
//     opacity: 0;
//     transform: translateY(50px);
// }
.unsplash__search {
  background: var(--black);

  .container {
    position: relative;
  }

  h2 {
    color: var(--white);
    font-size: 40px;
    height: 0;
    text-indent: -9999px;
    width: 0;
  }

  input {
    background: var(--black);
    border: 2px solid var(--light_border);
    border-radius: 50px;
    color: #f0eeeb;
    color: var(--light_bg);
    margin: 0 1% 5%;
    padding: 1rem 3rem 1rem 2rem;
    width: 98%;
  }
  button {
    background: #fff;
    border: 0;
    border-radius: 50%;
    color: var(—black);
    font-family: var(—subKor_font);
    font-size: 12px;
    height: 40px;
    position: absolute;
    right: 22px;
    top: 9px;
    transition: opacity 0.3s ease;
    width: 40px;
  }
}
